<div class="overzicht">
  <p>
    Hi! Ik ben Danique (Isis) Seelen en stel me graag even voor,
    <i>in short</i>. Ik ga er namelijk vanuit dat degene die dit zullen lezen weten wie ik ben en benieuwd zijn naar de avonturen
    die ik ga beleven in
    <i>New York City</i>.
    <br>
    <br>
    <i>Short facts</i>:
    <br> - Ik ben 21;
    <br> - ik ben Nederlands, al mijn hele leven wonend in België;
    <br> - ik studeer People and Business Management/ Business Studies mijn afstudeerrichting is bedrijfskunde;
    <br>
    <br>Ik droom al jaren van een stage in het buitenland, meer specifiek in
    <b>New York</b>. Nu ik de kans krijg deze droom te verwezenlijken pak ik hem natuurlijk met beiden handen aan. Waar deze
    ‘droom’ precies gestart is herinner ik me eigenlijk niet meer. Hoelang ik al roep dat ik het wil, ook niet. Eigenlijk
    weet ik niet beter en is de ‘droom’ sinds ik ben begonnen aan mijn studie twee jaar geleden verandert van een droom naar
    een plan.
    <br>
    <br> Genoeg over mij. Ofja, specifiek over mij. Misschien vraag je je ook nog af waarom ik het nodig vind om dit via een
    blog vast te leggen.
    <br>
    <br> Nou, ik heb een vooropleiding in fotografie en video. Hier ben ik niet verder mee gegaan omdat de passie niet groot
    genoeg was om er mijn beroep van te maken. Echter is de interesse altijd gebleven. Fotografie en video zijn een manier
    om momenten, gevoelens en ervaringen vast te leggen om de herinnering visueel te houden. Achteraf gezien is mijn passie
    nooit echt fotografie of video geweest, maar is het puur een verlangen naar het vastleggen van herinneringen. Als klein
    meisje stopte ik al belangrijke spullen die ik graag wilde bewaren samen in een doos, die op een makkelijke plek in mijn
    kamer stond. Zodat ik die snel zou kunnen pakken als er ineens brand zou uitbreken thuis. Die doos staat nog steeds op
    mijn kamer.
    <br>
    <br> En dát is waarom ik deze blog graag wil schrijven. Eigenlijk heel egoïstisch dus, voor mezelf. Maar
    <i>obviously</i> ook voor iedereen thuis die het leuk vinden om te lezen wat ik allemaal doe en hoe het met me gaat. Wie
    weet ook wel voor iemand met dezelfde ‘plannen’ als ik en geen idee heeft
    <i>to start</i>. Daarom deel ik ook een beetje van het proces voorafgaand aan het echte avontuur.
    <i>Hope to take you with me!</i>
    <br>
    <br>
    <i>Thank you for reading</i>
    <br>
    <br>
    <i>Kind regards</i>, Danique
    <br>
    <br>
    <br>
  </p>
</div>