<div class="container">
  <div class="form-group">
    <img src="assets/login-icon2.png" id="create-img">
  </div>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="email">E-mail: </label>
      <input type="email" id="email" formControlName="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input type="password" id="password" formControlName="password" class="form-control">
    </div>
    <div class="form-group">
      <label for="confirmpassword">Confirm password: </label>
      <input type="password" id="confirmpassword" formControlName="confirmpassword" class="form-control">
    </div>
    <div class="form-group">
      <input type="submit" value="Create Account" class="btn btn-info" (click)="create(form)">
    </div>
  </form>
  <div class="error alert-danger">
    {{error}}
  </div>
</div>