<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="email"> Subscribe now: </label>
      <input type="text" class="form-control" formControlName="email" placeholder="E-mail" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
      <div class="alert-warning" style="margin: 5px">
        {{success}}
      </div>
    </div>
    <div class="form-group row">
      <button [disabled]="loading" class="btn btn-warning">Sumit</button>
    </div>
  </form>
  <div class="sign form-group row">
    <div *ngIf="!user_is_logged_in">
      <label style="margin-right: 3px; margin-top: 15px;">If you're an admin </label>
      <button class="btn btn-secondary btn-sm log" routerLink="/login" (click)="rememberRoute()">
        <span>Login </span>
        <img id="login-icon" src='assets/login-icon.png'>
      </button>
    </div>
    <div *ngIf="user_is_logged_in">
      <button class="btn btn-secondary btn-sm log" (click)="logout()">Logout
        <img id="logout-icon" src="assets/logout-icon.png">
      </button>
    </div>
  </div>
</div>