<div class="container">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="email">Subscribe now: </label>
      <input type="email" class="form-control" formControlName="email" placeholder="E-mail">
    </div>
  </form>
  <div class="sign">
    <div *ngIf="!user_is_logged_in" id='login'>
      <label style="margin-right: 5px">If you're an admin </label>
      <button class="btn btn-secondary btn-sm" routerLink="/login" (click)="rememberRoute()">
        <span>Login </span>
        <img id="login-icon" src='assets/login-icon.png'>
      </button>
    </div>
    <div *ngIf="user_is_logged_in" id="login">
      <button class="btn btn-secondary btn-sm" (click)="logout()">
        Logout
        <img id="logout-icon" src="assets/logout-icon.png">
      </button>
    </div>
  </div>
</div>