<div class="container">

  <form [formGroup]="form" (ngSubmit)="updateBlogContent(form)" class="card">
    <h4>Edit blog</h4>
    <div class="form-group">
      <label for="blog-date">Date: </label>
      <input id="blog-date" class="form-control" type="date" name="date" formControlName="date">
    </div>
    <div class="form-group">
      <label for="blog-title">Title: </label>
      <input type="text" class="form-control" name="title" id="blog-title" formControlName="title">
    </div>
    <div class="form-group">
      <label for="blog-contnet">Blog text: </label>
      <textarea name="" id="" cols="30" rows="10" class="form-control" id="blog-contnet" rows="4" cols="52" name="content"
        formControlName="content" contenteditable="true"></textarea>
    </div>
    <div class="form-group">
      <label for="blog-button"></label>
      <input id="blog-button" class="btn btn-primary" type="submit" name="submit" value="Submit">
    </div>
    <div *ngIf='submitted'>
      <p>Submitted succesfully</p>
    </div>
  </form>

  <div *ngFor="let img of images" class="image">
    <div>
      <img [src]='img' alt='no image found' width="150px" height="100px">
    </div>
    <div>
      <button class="btn btn-danger btn-sm edit" (click)="deleteImage(img)">Delete</button>
    </div>
  </div>
  <div class="form-group">
    <form #fileForm="ngForm" (ngSubmit)="submitFile(fileForm)">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-12">
          <div class="row card">
            <div class="col-sm-12">
              <h4>Add new pictures</h4>
              <div id="fileSelector">
                <input type="file" name="fileUpload" id="fileUpload" multiple ng2FileSelect [uploader]="uploader">
              </div>
              <div>
                <div class="row uploadList" *ngFor="let item of uploader.queue">
                  <div class="col-sm-3">{{item.file.name}}</div>
                  <div class="col-sm-3">
                    <div class="progress">
                      <div class="progress-bar bg-success" [ngStyle]="{'width':item.progress+'%'}"></div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" class="btn btn-primary btn-sm" (click)="item.upload()">Upload</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="item.remove()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div *ngIf='uploaded'>
        <p>Updated succesfully</p>
      </div>
  </div>
</div>