<div class="overzicht">
  <i>The Story</i>
  <br>
  <br> Hi!
  <br>
  <br> Op mijn about me-pagina vertel ik het al een beetje, hoe-wat-waarom. Maar het leek me, voor degene die daar geïnteresseerd
  in zijn, het verhaal ook nog wat uitgebreider te vertellen.

  <br>
  <br> Ik droom al jaren van een buitenlandse stage in New York. Het buitenland en dus reizen is iets wat ik, net zoals velen,
  altijd ontzettend leuk heb gevonden. Voor altijd in Nederland/ België blijven is daarom ook niet iets wat voor mij een
  absolute must is. Ik denk dat in de tijd van nu de wereld veel groter is dan ooit tevoren. Eigenlijk is niemand nooit echt
  ver weg,
  <i>but just one call away</i>. Dus waarom op een plaats blijven als er zoveel te ontdekken valt?
  <br>
  <br> Toen ik aan mijn opleiding begon en hoorde dat een buitenlandse stage mogelijk was, veranderde mijn droom in een plan.
  Het plan bleef New York. Tot het moment dat ik aan de voorbereidingen kon beginnen, een gesprek op school, een gesprek
  met mijn ouders, een presentatie over de gewilde bestemming, enzovoorts. Toen werd het allemaal ineens echt.
  <br>
  <br> Waarom wilde ik eigenlijk New York? Ik was er nooit geweest? Ik heb nooit nagedacht over de andere opties. Wat als er
  een andere plaats is die veel beter bij mij past? Over Amerikanen zijn de meeste mensen die ik ken allesbehalve positief?
  Is dit echt wat ik wil?
  <br>
  <br> Toen ben ik gaan googelen, praten en vragen. Alle mogelijke bestemmingen heb ik opgezocht, alle opties overwogen, met
  al mijn vrienden en ouders besproken welke plekken nog meer bij mij zouden passen. Ik kon trouwens op het internet weinig
  ervaringen vinden, of het was een halve webpagina met een paar regels waarin enkele maanden waren samengevat. Toch bleef
  mijn voorkeur New York.
  <br>
  <br> Mijn ouders waren van deze voorkeur geen fan. Mijn vader heeft vaker zakengedaan met Amerikanen en bevestigde de vooroordelen.
  Daarbij was ik nooit eerder in Amerika geweest en waren ze bang dat het me ontzettend tegen zou vallen. Logisch. Enkele
  dagen na dit gesprek, kwamen ze erop terug. “Daya (zoals ik thuis genoemd word), we vinden het goed. Op één voorwaarden;
  je gaat er van tevoren heen. Hoe en wanneer moet je zelf maar bekijken. Anders wordt het je plan B, ook prima.”
  <br>
  <br> Oké.
  <br>
  <br> En nu? Mijn plan B was Dubai. Dit was prima omdat ik er al enkele keren geweest ben en dus weet hoe het eraan toe gaat,
  hoe de mensen zijn etcetera. Toen ben ik sterk gaan overwegen toch maar voor plan B te gaan. Tot ik me bedacht: ga ik mijn
  droom laten afpakken door dit? De kans is velen malen groter dat als ik echt wil dat ik later een tijdje in Dubai kan gaan
  werken. Die kans is echter heel klein wat betreft Amerika. Toen heb ik besloten dat ik het zou doen.
  <br>
  <br> Het moest wel snel, want ik wilde zo snel mogelijk mijn presentatie doen op school. En dat zou erna moeten. Dus toen heb
  ik een reis naar New York geboekt in februari en mijn presentatie in de eerste week na de schoolvakantie erna.
  <i>Obviously</i>, viel New York allesbehalve tegen. Ik vond het geweldig. De energie, de stad, de gebouwen, de behulpzaamheid
  van de New Yorkers, de culturen en de mogelijkheden.
  <br>
  <br> Ik kwam terug en mijn ouders wisten na het eerste bericht dat ik stuurde vanuit New York –dat in mijn ogen héél neutraal
  was, want toen was ik nog niet zo enthousiast – ik mijn hart verloren had. En ja, dat was zeker zo.
  <br>
  <br> Toen ben ik aan de slag gegaan met het echte proces. De presentatie ging goed. Mijn CV was vertaald, mijn LinkedInprofiel
  ook te bekijken in het Engels, een motivatiebrief geschreven. Het was maart toen ik echt begon met solliciteren. Veel te
  vroeg. Daarom kreeg ik ook geen reacties terug. Alle contacten die ik had liepen dood, om dezelfde reden: te vroeg. Wel
  kreeg ik vage mails en smsjes. Dit zette me aan het denken: is het wel verstandig om alles zelf te willen regelen?
  <i>Probably not
  </i>.
  <br>
  <br> Toen ben ik me gaan verdiepen in hoe het werkt met een stagebureau. Ik kende er een waar ik goede verhalen over had gehoord
  en dus heb ik eigenlijk alleen maar hiernaar gekeken. Ik heb een intakegesprek met ze gepland en ik was meteen enthousiast.
  Wel moest ik een stukje trots aan de kant zetten omdat ik zó graag zelf een stageplek wilde vinden. Toch leek het me beter,
  veiliger en zeker ook makkelijker om samen te werken met een stagebureau. Zo zou ik weten dat ik op een goede plek terecht
  zou komen met werkzaamheden die echt aansluiten bij mijn studie waar ik ook echt iets bij zou kunnen leren.
  <br>
  <br> En dat is waar ik tot nu toe sta. De samenwerking en de communicatie loopt soepel en snel. We zijn nu bezig met bedrijven
  die wellicht interessant voor mij kunnen zijn. Dat is nog even afwachten. Ik ben in ieder geval ontzettend benieuwd naar
  de volgende stappen.
  <i>I am ready for it! Let’s go!</i>
  <br>
  <br>
  <i>Kind regards</i>, Danique

</div>